.publications {
    margin-top: 60px;
}
.top_section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    padding-bottom: 60px;
}
/*********************Button *************************/
.book {
    background-color: rgba(69, 86, 103, 0.775);
    color: rgb(255, 255, 255);
    width: 182px;
    height: 60px;
    padding: 13px 10px 10px 10px;
    transition: background-color 0.5s ease-in-out;
}
.book:hover {
    cursor: pointer;
    background-color: rgba(0, 128, 0, 1);
}
.book_chp {
    margin: auto;
    width: 60%;
}
.book_chp h6 {
    margin-bottom: 15px;
    color: black;
}
.book_chp li {
    margin-left: 18px;
    font-size: 16px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.752);
}
.book_chp li a {
    color: black;
    text-decoration: none;
}
.book_chp li a span {
    text-decoration: underline;
}
.journals {
    background-color: rgba(69, 86, 103, 0.775);
    color: rgb(255, 255, 255);
    width: 130px;
    height: 60px;
    padding: 13px 10px 10px 13px;
    transition: background-color 0.5s ease-in-out;
}
.journals:hover {
    cursor: pointer;
    background-color: rgba(0, 128, 0, 1);
}
.journals_section {
    margin: auto;
    width: 60%;
}
.patent {
    background-color: rgba(69, 86, 103, 0.775);
    color: rgb(255, 255, 255);
    width: 135px;
    height: 60px;
    padding: 13px 10px 10px 20px;
    transition: background-color 0.5s ease-in-out;
}
.patent:hover {
    cursor: pointer;
    background-color: rgba(0, 128, 0, 1);
}
