.publications {
    margin-top: 60px;
}
.top_section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    padding-bottom: 60px;
}
/*********************Button *************************/
.book {
    background-color: rgba(69, 86, 103, 0.775);
    color: rgb(255, 255, 255);
    width: 182px;
    height: 60px;
    padding: 13px 10px 10px 10px;
    transition: background-color 0.5s ease-in-out;
}
.book:hover {
    cursor: pointer;
    background-color: rgba(0, 128, 0, 1);
}
.journals {
    background-color: rgba(69, 86, 103, 0.775);
    color: rgb(255, 255, 255);
    width: 130px;
    height: 60px;
    padding: 13px 10px 10px 13px;
    transition: background-color 0.5s ease-in-out;
}
.journals:hover {
    cursor: pointer;
    background-color: rgba(0, 128, 0, 1);
}
.journals_section {
    margin: auto;
    width: 60%;
}
.patent {
    background-color: rgba(69, 86, 103, 0.775);
    color: rgb(255, 255, 255);
    width: 135px;
    height: 60px;
    padding: 13px 10px 10px 20px;
    transition: background-color 0.5s ease-in-out;
}
.patent:hover {
    cursor: pointer;
    background-color: rgba(0, 128, 0, 1);
}

/************** book chapters *************/
.book_chp {
    margin: auto;
    width: 60%;
}
.book_chp h6 {
    margin-bottom: 15px;
    color: black;
}
.book_chp li {
    margin-left: 18px;
    font-size: 16px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.752);
}
.book_chp li a {
    color: black;
    text-decoration: none;
}
.book_chp li a span {
    text-decoration: underline;
}

/************** journals ******************/
.journals_section {
    margin: auto;
    width: 60%;
    margin-top: 45px;
}
.journals_section h6 {
    margin-bottom: 15px;
    color: black;
}
.journals_section li {
    margin-left: 25px;
    font-size: 16px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.752);
    margin-bottom: 15px;
}
.journals_section li a {
    color: black;
    text-decoration: none;
}
.journals_section li a span {
    text-decoration: underline;
}
.journals_section .prior {
    margin-top: 40px;
    margin-left: -1px;
}

/************** patents ******************/
.patents_section {
    margin: auto;
    width: 60%;
    margin-top: 45px;
}
.patents_section h6 {
    margin-bottom: 15px;
    color: black;
    margin-left: 10px;
}
.patents_section li {
    margin-left: 25px;
    font-size: 16px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.752);
    margin-bottom: 15px;
}
.patents_section li a {
    color: black;
    text-decoration: none;
}
.patents_section li a span {
    text-decoration: underline;
}

/*********************************** Responsiveness *********************************/

@media screen and (max-width: 599px) {
    .top_section .book {
        margin-right: 50px;
    }
    .top_section .journals {
        margin-right: 50px;
    }
    .book_chp li {
        width: 40rem !important;
    }
    .journals_section li {
        width: 40rem !important;
    }
    .patents_section li {
        width: 40rem !important;
    }
}

@media screen and (max-width: 992px) {
    .top_section {
        margin-left: 15rem;
    }
    .top_section .book {
        margin-right: 50px;
    }
    .top_section .journals {
        margin-right: 50px;
    }
    .book_chp li {
        width: 40rem !important;
    }
    .journals_section li {
        width: 40rem !important;
    }
    .patents_section li {
        width: 40rem !important;
    }
}

@media screen and (max-width: 1024px) {
    .top_section .book {
        margin-right: 70px;
    }
    .top_section .journals {
        margin-right: 70px;
    }
    .book_chp li {
        width: 50rem;
    }
    .journals_section li {
        width: 50rem;
    }
    .patents_section li {
        width: 50rem;
    }
}

@media screen and (min-width: 1025px) {
    .top_section .book {
        margin-right: 70px;
    }
    .top_section .journals {
        margin-right: 70px;
    }
    .book_chp li {
        width: 50rem;
    }
    .journals_section li {
        width: 50rem;
    }
    .patents_section li {
        width: 50rem;
    }
}