.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    /* border-bottom: 2px solid black; */
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);

}
.header .auth {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .web-name {
    padding-top: 50px;
    cursor: pointer;
    color: rgba(69, 86, 103, 0.775);
}
.header .web-name h1 {
    font-size: 70px;    
}
.header .web-name h2 {
    margin-left: 5.2rem;
    margin-bottom: -1.6rem;
    font-size: 35px; 
}
.header .web-name h3 {
    font-size: 20px; 
    margin-top: 40px;
}
.header .auth {
    cursor: pointer;
}
.header .auth i {
    margin-right: 15px;
    font-size: 25px;
    color: rgb(112, 209, 47);
}
.header .auth h4 {
    color: rgb(112, 209, 47);
}