.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.3);
}
.header .auth {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .web-name {
    padding-top: 50px;
    padding-bottom: 20px;
    cursor: pointer;
    color: rgba(69, 86, 103, 0.775);
}
.header .web-name .logo {
    margin-bottom: 10px;
}
.header .web-name h1 {
    margin-bottom: 20px;
}
.header .web-name h2 {
    margin-bottom: -25px;
}
.header .web-name .logo-name {
    font-size: 70px; 
    text-decoration: none;
    color: rgba(69, 86, 103, 0.775);
}
.header .web-name .logo-num {
    margin-left: 5.2rem;
    margin-bottom: -1.6rem;
    font-size: 35px; 
    color: rgba(69, 86, 103, 0.775);  
    text-decoration: none;
}
.header .web-name .title {
    font-size: 20px; 
    margin-top: 40px;
    color: rgba(69, 86, 103, 0.775);
    text-decoration: none;
}
.header .auth {
    cursor: pointer;
    margin-top: -40px;
}
.header .auth i {
    margin-right: 10px;
    font-size: 28px;
    color: rgb(112, 209, 47);
}
.header .auth h4 {
    font-size: 13px;
    font-weight: 100;
    color: rgb(112, 209, 47);
}

/****************** Login section ***************/

/* .log-in {
    display: none;
} */

.header {
    display: none;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 280px;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.divider:not(:empty)::before {
    margin-right: 0.5em;
}

.divider:not(:empty)::after {
    margin-left: 0.5em;
}

.log-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 100px;
}

.log-in .fa-solid {
    position: absolute;
    top: 3rem;
    right: 3rem;
    font-size: 30px;
    color: rgba(44, 48, 51, 0.878);
}

.log-in h1 {
    color: rgba(44, 48, 51, 0.878);
    font-size: 50px;
    font-weight: 100;
    margin-top: 2rem;
    margin-bottom: 15px;
}

.log-in p {
    margin-bottom: 25px;
}

.google-textbox,
.facebook-textbox,
.email-textbox {
    width: 280px;
    height: 40px;
    padding-left: 60px;
}

.google-textbox {
    margin-bottom: 15px;
}

.google-textbox::placeholder {
  color: #000;
  font-size: 16px;
}

.google,
.facebook {
    position: relative;
}

.google img {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 6px;
}

.facebook img {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 6px;
}