.home {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(222, 222, 217);
    margin-bottom: 200px;
}
.home ul {
    list-style-type: none;
    padding: 20px;
    direction: rtl;
    text-align: right;
    cursor: pointer;
    margin-right: -25rem;
}
.home ul li {
    padding-bottom: 1.5rem;
}
.home ul li 
.page,
.people,
.publications,
.labpics,
.animations,
.teaching,
.equipbook,
.phys,
.join
{
    padding-bottom: 5rem;
    color: rgba(44, 48, 51, 0.878);
    font-size: 25px;
    text-decoration: none;
}
.home ul li 
.page:hover,
.people:hover,
.publications:hover,
.labpics:hover,
.animations:hover,
.teaching:hover,
.equipbook:hover,
.phys:hover,
.join:hover {
    color: rgba(149, 161, 174, 0.908);
}
.images {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 50px 50px; 
    row-gap: 20px;
    column-gap: 20rem;
    margin-right: 20rem;
    width: 25%;
}
.images .cord img {
    width: 20rem;
    height: 7rem;
}
.images .microfludics img {
    width: 10rem;
    height: 7rem;
    margin-left: 16px;
}
.images .target-sample img {
    width: 10rem;
    height: 7rem;
    margin-bottom: 30px;
}
.images .laser-spot img {
    width: 10rem;
    height: 7rem;
}
.live-cells img {
    height: 17rem;
    margin-left: -12rem;
}
