.teaching h3 {
    margin-top: 25px;
    margin-left: 15rem;
    color: rgba(69, 86, 103, 0.775);
}

.teaching h3:hover {
    color: rgba(69, 86, 103, 0.775);
}

.drawings {
    margin-left: 15rem;
    position: relative;
}

.drawings img:nth-child(1) {
    width: 420px;
    height: 110px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 40px;
}

.drawings img:nth-child(2) {
    margin-top: 10rem;
    margin-left: 30rem;
}

.drawings img:nth-child(3) {
    width: 420px;
    height: 210px;
    /* margin-top: -50rem; */
}

.drawings img:nth-child(4) {
    width: 470px;
    height: 230px;
    margin-bottom: -10rem;
    margin-left: 35rem;
}

.drawings img:nth-child(5) {
    width: 470px;
    height: 210px;
    margin-left: -50rem;
    margin-bottom: -20rem;
}


.drawings img:nth-child(6) {
    width: 650px;
    height: 580px;
    margin-top: 20rem;
    margin-left: 25rem;
}